body {
  background-color: darkgreen
}

li {
  list-style-type: none
}

h1, h2 {
  text-align: center
}

.hint {
  float: right
}

.hidden {
  display: none
}

.displayBlock {
  display: block
}

.displayInline {
  display: inline-block
}

.card {
  height: 75px;
  width: 55px
}

.cardBack {
  height: 77px;
  width: 85px
}

.button {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 4px 8px;
  text-align: center;
  font-size: 12px;
  margin: 2px 1px;
  opacity: 0.7;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {opacity: 1}

#dealer-hand-value {
  font-size: 20px
}

.playerHandValue {
  font-size: 18px
}

.winColour {
  color: yellow;
}

.drawColour {
  color: blue;
}

.loseColour {
  color: red;
}

.playerDiv {
  margin: 20px
}

.playerImage {
  height: 50px;
  width: 50px
}

.cursor {
  cursor: pointer
}

.buttonImage {
  height: 80px;
  width: 80px;
}

#choose-game-div {
  text-align: center
}

.betInput {
  width: 4em
}