body {
  background-color: darkgreen;
  margin: 30px
}

li {
  list-style-type: none;
  font-size: 20px;
  margin: 5px
}

h1, h2 {
  text-align: center;
  margin: 20px
}

.hint {
  text-align: center
}

#nav {
  padding: 5px;
  margin-bottom: 30px
}

.hidden {
  display: none
}

.displayBlock {
  display: block
}

.displayInline {
  display: inline-block
}

.card {
  height: 75px;
  width: 55px;
  box-shadow: 2px 2px;
  margin: 3px;
}

.bet-button {
  background-color: #e0e2d9e5;
  border: none;
  border-radius: 2px;
  padding: 2px 20px;
  text-align: center;
  font-size: 12px;
  margin: 4px 4px;
  opacity: 0.8;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  width: 70px;
  height: 28px;
}

.button {
  background-color: #e0e2d9e5;
  border: none;
  border-radius: 2px;
  padding: 4px 8px;
  text-align: center;
  font-size: 12px;
  margin: 2px 1px;
  opacity: 0.8;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
}

.game-button {
  background-color: #e0e2d9e5;
  border: none;
  border-radius: 2px;
  padding: 4px 8px;
  text-align: center;
  font-size: 26px;
  margin: 35px 1px;
  opacity: 0.5;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  color: black;
}

#solo-game-button {
  margin-top: 100px
}

.start-game-link {
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  color: black;
}

.button:hover {opacity: 1}

#dealer-hand-value {
  font-size: 20px
}

.playerHandValue {
  font-size: 18px
}

.winColour {
  color: yellow;
}

.drawColour {
  color: blue;
}

.loseColour {
  color: red;
}

.medal {
  height: 22px;
  width: 22px;
}

.fadedButton{
  background-color: #e0e2d9e5;
  border: none;
  padding: 4px 8px;
  text-align: center;
  font-size: 15px;
  margin: 20px 1px;
  opacity: 0.5;
  text-decoration: none;
}

.playerDiv {
  margin: 17px
}

.playerImage {
  height: 60px;
  width: 60px
}

#dealer-img {
  margin-top: 25px;
}

.chipsText {
  font-size: 19px;
  margin: 5px;
}

.bet-div {
  font-size: 17px;
  margin: 5px;
}

.cursor {
  cursor: pointer
}

.buttonImage {
  height: 80px;
  width: 80px;
}

#choose-game-div {
  text-align: center;
  position: relative;
}

#hint-button {
  background-color: rgba(23, 114, 23, 0.486);
  border: none;
  padding: 4px 8px;
  text-align: center;
  font-size: 12px;
  margin: 2px 1px;
  opacity: 0.8;
  cursor: pointer;
  float: right;
}

.betInput {
  width: 70px;
  height: 26px;
  background-color: #e0e2d9e5;
  border: none;
  border-radius: 2px;
  text-align: center;
  font-size: 16px;
}

.input {
  background-color: #e0e2d9e5;
  border: 1px solid black
}

.inputButton {
  background-color: #e0e2d9e5;
  border: none;
  padding: 4px 8px;
  text-align: center;
  font-size: 15px;
  margin: 20px 1px;
  opacity: 0.8;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
}

.inputButton:hover {
  opacity: 1
}

#createGameForm {
  padding-top: 30px
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Exo', sans-serif;
}

.context {
    width: 100%;
    position: absolute;
    top:20vh;
    
}

.context h1{
    text-align: center;
    color: rgb(8, 8, 8);
    font-size: 50px;
}

.area{
    background: rgba(6, 65, 12, 0.267);
    background: -webkit-linear-gradient(to left, #108028, #023b1c);  
    width: 100%;
    height:100%;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.circles img{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles img:nth-child(1){
    left: 25%;
    width: 56px;
    height: 80px;
    animation-delay: 0s;
    border-radius: 3px;
}


.circles img:nth-child(2){
    left: 10%;
    width: 42px;
    height: 60px;
    animation-delay: 2s;
    animation-duration: 12s;
    border-radius: 3px;
}

.circles img:nth-child(3){
    left: 70%;
    width: 14px;
    height: 20px;
    animation-delay: 4s;
    border-radius: 3px;
}

.circles img:nth-child(4){
    left: 40%;
    width: 42px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
    border-radius: 3px;
}

.circles img:nth-child(5){
    left: 65%;
    width: 14px;
    height: 20px;
    animation-delay: 0s;
    border-radius: 3px;
}

.circles img:nth-child(6){
    left: 75%;
    width: 77px;
    height: 110px;
    animation-delay: 3s;
    border-radius: 3px;
}

.circles img:nth-child(7){
    left: 35%;
    width: 105px;
    height: 150px;
    animation-delay: 7s;
    border-radius: 3px;
}

.circles img:nth-child(8){
    left: 50%;
    width: 18px;
    height: 26px;
    animation-delay: 15s;
    animation-duration: 45s;
    border-radius: 3px;
}

.circles img:nth-child(9){
    left: 20%;
    width: 18px;
    height: 26px;
    animation-delay: 2s;
    animation-duration: 35s;
    border-radius: 3px;
}

.circles img:nth-child(10){
    left: 85%;
    width: 105px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
    border-radius: 3px;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
    }
}