body {
  background-color: darkgreen
}

li {
  list-style-type: none;
  font-size: 20px;
  margin: 5px
}

h1, h2 {
  text-align: center
}

.hint {
  float: right
}

.hidden {
  display: none
}

.displayBlock {
  display: block
}

.displayInline {
  display: inline-block
}

.card {
  height: 75px;
  width: 55px;
  box-shadow: 2px 2px;
  margin: 3px;
}

.bet-button {
  background-color: #e0e2d9e5;
  border: none;
  padding: 2px 25px;
  text-align: center;
  font-size: 12px;
  margin: 4px 4px;
  opacity: 0.8;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  width: 60px;
  height: 22px;
}

.button {
  background-color: #e0e2d9e5;
  border: none;
  padding: 4px 8px;
  text-align: center;
  font-size: 12px;
  margin: 2px 1px;
  opacity: 0.8;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {opacity: 1}

#dealer-hand-value {
  font-size: 20px
}

.playerHandValue {
  font-size: 18px
}

.winColour {
  color: yellow;
}

.drawColour {
  color: blue;
}

.loseColour {
  color: red;
}

.fadedButton{
  background-color: #e0e2d9e5;
  border: none;
  padding: 4px 8px;
  text-align: center;
  font-size: 15px;
  margin: 2px 1px;
  opacity: 0.5;
  text-decoration: none;
}

.playerDiv {
  margin: 20px
}

.playerImage {
  height: 60px;
  width: 60px
}

.chipsText {
  font-size: 18px;
  margin: 5px;
}

.bet-div {
  font-size: 16px;
  margin: 5px;
}

.cursor {
  cursor: pointer
}

.buttonImage {
  height: 80px;
  width: 80px;
}

#choose-game-div {
  text-align: center
}

#hint-button {
  background-color: rgba(23, 114, 23, 0.486);
  border: none;
  padding: 4px 8px;
  text-align: center;
  font-size: 12px;
  margin: 2px 1px;
  opacity: 0.8;
  cursor: pointer
}

.betInput {
  width: 60px;
  height: 22px;
  background-color: #e0e2d9e5;
  border: none;
  text-align: center;
  font-size: 14px;
}

.input {
  background-color: #e0e2d9e5;
  border: 1px solid black
}

.inputButton {
  background-color: #e0e2d9e5;
  border: none;
  padding: 4px 8px;
  text-align: center;
  font-size: 15px;
  margin: 2px 1px;
  opacity: 0.8;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
}

.inputButton:hover {
  opacity: 1
}